.body {
    font-family: "Avenir Next";
}

li {
    list-style: none;
}

.header {
    color: rgb(10, 8, 8);
    height: 90px;
}

.header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px;
    font-weight: inherit;
}

.header-list li {
    float: left;
    padding: 33px 20px;
    float: right;
    font-weight: inherit;
}

.main {
    padding: 100px 80px;
}

.copy-container h1 {
    font-size: 140px;
    background-color: aqua;
}

.copy-container h2 {
    font-size: 60px;
    color: #3a51d1;
}

.copy-container span {
    color: #30c79a;
}

.section-title {
    border-bottom: 2px solid #dee7ec;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

.contents-item {
    float: left;
    margin-right: 20px;
}

.contents-item p {
    font-size: 24px;
    margin-top: 30px;
    text-align: center;
}

.footer {
    background-color: #2f5167;
    color: #fff;
    height: 120px;
    padding: 40px;
    margin-top: 200px;
}

.footer-logo {
    float: left;
    font-size: 32px;
}

.footer-list {
    float: right;
}

.footer-list li {
    padding-bottom: 20px;
}